{% extends "base.html" %}

{% block title %}Reputação de Sites {% endblock %}

{% block header %}
    <h1>Verifica URL Suspeita 🛡️</h1>
    <p>Cole um link, domínio ou IP suspeito para verificar sua segurança.</p>
{% endblock %}

{% block content %}
    <form action="{{ url_for('check') }}" method="POST">
        <input type="text" name="url" placeholder="exemplo.com ou https://exemplo.com" required pattern=".*\S+.*" title="Por favor, digite um endereço válido (não apenas espaços).">
        <button type="submit">Verificar Agora</button>
    </form>
    <!-- Exemplo: Links inferiores usando a classe nav-link -->
<div class="botoes-inferiores">
    <a href="{{ url_for('dns_page') }}" class="nav-link"> 🌐 Verificar DNS</a>
    <a href="{{ url_for('whois_page') }}" class="nav-link"> 👤 Verificar WHOIS</a>
    <a href="{{ url_for('ping_page') }}" class="nav-link"> 📶 Testar Ping</a>
    <a href="{{ url_for('tracert_page') }}" class="nav-link"> 🛣️ Rastrear Rota</a>
    <a href="{{ url_for('connection_page') }}" class="nav-link"> 🚀 Teste Conexão</a>
</div>
    
{% endblock %}
