# Deploy to EC2
name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 18.223.29.225
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            # Navega até a pasta do projeto (criada pelo script User Data)
            cd /home/ec2-user/app
            
            # Baixa as últimas alterações do repositório
            git pull origin main
            
            # Instala dependências do sistema operacional
            sudo dnf install -y python3 python3-pip git whois traceroute iputils libcap
            
            # Atualiza dependências e reinicia o serviço
            source venv/bin/activate
            pip install -r requirements.txt
            
            # Garante permissões para o Python abrir sockets raw (ping)
            sudo setcap cap_net_raw+ep /home/ec2-user/app/venv/bin/python3
            
            sudo systemctl restart connections-test